<div class="container">
<div class="jumbotron text-center" id="jumbo-background">
  <h1>GIT HUB SEARCH APP</h1>

</div>
<form class="search-form">
  <div class="form-group">
<input type="text" class="form-control" placeholder="search users in with git usernames" [(ngModel)]="username"
name="username" (keyup)="findprofile()" >
  </div>
</form>

<div *ngIf="profile">
<div class="panel panel-default">
  <div class="panel-heading">
    {{profile.name}}<small>({{profile.login}})</small>
    <span *ngIf="profile.company">,works at {{profile.company}}</span>
    {{profile.location}}
  </div>
  <div class="panel-body">
    <div class="col-md-4">
          <img class="img-circle img-responsive" src="{{profile.avatar_url}}">
        </div>
        <div class="col-md-8">
                <div class="stats">
                  <span class="badge badge-secondary">{{profile.public_repos}} Public Repos</span>
                  <span class="badge badge-primary">{{profile.public_gists}} Public Gists</span>
                  <span class="badge badge-success">{{profile.followers}} Followers</span>
                  <span class="badge badge-info">{{profile.following}} Following</span>
                </div>
                <br>
                <ul class="list-group">
                  <li class="list-group-item"><strong>usersname: </strong>{{profile.login}}</li>
                  <li class="list-group-item"><strong>Location: </strong>{{profile.location}}</li>
                  <li class="list-group-item"><strong>Email: </strong>{{profile.email}}</li>
                  <li class="list-group-item"><strong>Blog: </strong>{{profile.blog}}</li>
                  <li class="list-group-item"><strong>Member Since: </strong>{{profile.created_at}}</li>
                </ul>
              </div>
              </div>
              </div>
              </div>

              <!-- Repos -->
          <div class="card card2 card-default mt-5">
            <div class="card card2 card-heading pt-2">
                <h3 class=" card2 card-title ml-5 ">Repos</h3>
              </div>
              <div class="card2 card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div *ngFor="let repo of repos">
                      <div class="row">
                        <div class="col-md-9">
                          <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
                          <p>{{repo.description}}</p>
                        </div>
                        <div class="col-md-3">
                          <span class="badge badge-default">{{repo.watchers}} Watchers</span>
                          <span class="badge badge-primary">{{repo.forks}} Forks</span>
                        </div>
                      </div>
                      <hr />
                    </div>
                  </div>
                  </div>
              </div>
              </div>
          </div>
