
<form action="" class="search-form">
  <div class="form-group">
<input type="text" class="form-control" placeholder="search users in with git usernames" [(ngModel)]="username"
name="username" (keyup)="findprofile()">
  </div>
</form>
<!-- <app-profile-form></app-profile-form> -->
<div *ngIf="profile">
<div class="panel panel-default">
  <div class="panel-heading">
    {{profile.name}}<small>({{profile.login}})</small>
    <span *ngIf="profile.company">,works at {{profile.company}}</span>
    {{profile.location}}
  </div>
  <div class="panel-body">
    <div class="class row">
      <div class="col-sm-3">
        <img src="{{profile.avatar_url}}"
        class="img-circle img-responsive" alt="profile image">
      </div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item"*ngIf="profile.bio">{{profile.bio}}</li>
              <li class="list-group-item"*ngIf="profile.hireable">Available for hire</li>
                <li class="list-group-item"*ngIf="profile.blog">{{profile.blog}}</li>

          </ul>
        </div>
        <div class="class col-sm-4">
          <div>
            <p>
              <span class="label label-default">{{profile.followers}} followers</span>
              <span class="label label-primary">{{profile.following}} following</span>
              <span class="label label-success">{{profile.public_gists}} public gists</span>
              <span class="label label-info">{{profile.public_repos}} public repos</span>
            </p>
          </div>
          <p><a href="{{profile.html_url}}" class="btn btn-primary btn-sm">View profile on github</a></p>
          <div class="pabel panel-default">
            <div class="panel-heading">
              <h3 class="panel title"> My Repos</h3>
            </div>
            <div class="panel body" *ngFor="let repo of repos">
              <p class="clearfix">
                {{repo.name}} <a href="{{repo.html_url}}"class="btn btn-primary btn-sm btn-warning pull-right">view this project in github</a>
              </p>
              <p>{{repo.description}}</p>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
</div>
